env_example_content = """# HuggingFace 
HF_API_KEY=hf_xxxxxxxxxxxxxxxxxxxx
HF_EMBED_MODEL=BAAI/bge-m3
HF_LLM_MODEL=meta-llama/Llama-3.1-8B-Instruct

# Qdrant Cloud
QDRANT_URL=https://xxxx.us-east-1-0.aws.cloud.qdrant.io
QDRANT_API_KEY=your_qdrant_api_key
QDRANT_COLLECTION=rag_collection